[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"

[dev-packages]
freezegun = "*"

[requires]
python_version = "3.11"

[scripts]
start = "python manage.py runserver"
test = "python manage.py test -v 2"
